@using System.Web.UI.WebControls
@model WeatherApp.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

    <p id="results"></p>    

@Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2">Email</label>
            <div class="col-md-10">
                <input class="form-control" type="email" name="Email" id="Email" />
                @Html.ValidationMessageFor(m=>m.Email,"",new{@class="text-danger"})
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Password</label>
            <div class="col-md-10">
                <input class="form-control" type="password" name="Password" id="Password" />
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-primary" id="submitBtn"/>
            </div>
        </div>
    </div>

@section scripts
{
    <script type="text/javascript">
        $(function() {
            $("#submitBtn").click(function() {
                var loginViewModel = {
                    Email: $("#Email").val(),
                    Password: $("#Password").val()
                };

                $.ajax({
                    url: "Account/Login",
                    type: "POST",
                    data: loginViewModel,
                    success: function(data) {
                        $("#results").html(data);
                    }
            });
        });
        });
    </script>
}
