@{
    ViewBag.Title = "Index";
}

<div class="container justify-content-center">
    
    <h2 class="text-center">That's home page.You are welcome.</h2>

    <img src="~/Images/weather.jpg" width="849" height="546" alt="HOME PAGE"/>

</div>
